.page-footer{
  text-align: center;
  background-image: url(https://i.imgur.com/Ruqjl6Y.jpg);
  box-shadow: inset 1px 10px 20px #000;
  background-size: cover;
}
.footer-copyright{
  background-color: #0000007e;
}
.copy{
  font-size: 12px;
}

.bi-linkedin{
  color: rgb(151, 122, 204);
  transition-delay: 0.3s;
  transition-property: width;
  transition-property: height;
  transition-duration: 0.3s;
}
.bi-linkedin:hover{
  color: rgb(40, 96, 250);
  width: 45px;
  height: 45px;
}

.bi-github{
  color: rgb(151, 122, 204);
  transition-delay: 0.3s;
  transition-property: width;
  transition-property: height;
  transition-duration: 0.3s;
}
.bi-github:hover{
  color: rgb(130, 55, 214);
  width: 45px;
  height: 45px;
}

.bi-instagram{
  color: rgb(151, 122, 204);
  transition-delay: 0.3s;
  transition-property: width;
  transition-property: height;
  transition-duration: 0.3s;
}
.bi-instagram:hover{
  color: rgb(201, 47, 131);
  width: 45px;
  height: 45px;
}
