.bg{
  /*background-image: url(https://i.imgur.com/Ruqjl6Y.jpg);
  box-shadow: inset 0 0 3em rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0);
  background-size: cover;*/
  background-color: #131e35;
}

.nav-link1{
  font-weight: bold;
  margin: auto;
  margin-left: 8px;
  margin-top: 5px;
}
.nav-link2{
  margin-left: 10px;
  font-size: 14px;
}

.img-fluid{
  margin: auto;
  cursor: pointer;
  margin-left: 20px;
  width: 55px;
  height: 55px;
  transition: width 0.3s, height 0.3s;

}
.img-fluid:hover{
  width: 70px;
  height: 70px;
  box-shadow: 1px 10px 20px rgb(0, 0, 0);
  margin-top: 10px;
}
#on{
  color: rgb(60, 255, 0);
}
.navbar-toggler{
  border-color: rgb(255, 255, 255);
  background-image: url('https://i.imgur.com/Ruqjl6Y.jpg');
  background-size: cover;
  box-shadow: 1px 10px 20px rgb(0, 0, 0);
  margin: auto;
  margin-right: 20px;
  padding: 15px 30px 15px 30px;

}
.navbar-toggler:hover{
  border-color: rgb(218, 214, 214);
  box-shadow: 1px 10px 20px rgb(38, 39, 116);
  margin-top: 12px;
}
.navbar-toggler:active{
  border-color: rgb(117, 116, 116);
  background-color: rgba(2, 11, 19, 0.103);
  box-shadow: inset 1px 10px 20px #000;
  margin-top: 15px;
  color: aliceblue;
}
