<!--
<nav class="navbar navbar-ex navbar-dark bg fixed-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="https://i.imgur.com/StafId6.png"
              alt="" width="250" height="80" class="d-block w-1000">
      </a>
      <div id="btn-icon">
          <a href="" class="account" style="color: rgb(255, 255, 255); margin: 5px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                  class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                  <path fill-rule="evenodd"
                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
              </svg>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon text"></span>
          </button>
      </div>
  </div>
  <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
      <div class="col-12"></div>
      <div class="container-fluid col-10" style="max-height: 25px;">
          <ul class="d-flex text-light list-unstyled justify-content-around" style=" margin-top: 5px;">
              <li class="nav-item active col-md-2 " id="home"
                  style=" font-size: 18px; border-top: 1px solid #fff; text-shadow: 2px 1px 15px #fff;"
                  onclick="focusMenu()">
                  <a class="nav-link text-center" href="#my">Início</a>
              </li>
              <li class="nav-item col-md-2 " id="evento" onclick="focusMenu()" style="font-size: 18px;">
                  <a class="nav-link text-center" href="#cad">Eventos</a>
              </li>
              <li class="nav-item col-md-2 " id="conta" onclick="focusMenu()" style="font-size: 18px;">
                  <a class="nav-link text-center" href="#contato">Contato</a>
              </li>
              <li class="nav-item col-md-2 " id="about" onclick="focusMenu()" style="font-size: 18px;">
                  <a class="nav-link text-center">About me</a>
              </li>

          </ul>
      </div>
  </div>
</nav>
-->
<nav class="navbar navbar-ex navbar-dark bg">
  <div class="container-fluid">
    <ul class="d-flex text-light list-unstyled">
      <li class="nav-item active m-auto">
        <img src="https://i.imgur.com/tUP3tKQ.jpg" alt="Foto do user" width="50" height="50"
          class="img-fluid rounded-circle">
      </li>
      <li class="nav-item">
        <p class="nav-link1 text-white">
          Nome do usuário
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor"
              class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
              <path fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
          </a>
        </p>
        <p class="nav-link2 text-white">Status
          <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-circle-fill"
            viewBox="0 0 16 16">
            <circle cx="8" cy="8" r="8" />
          </svg>
        </p>
      </li>
    </ul>
    <button class="navbar-toggler p-3" type="button">Sair
      <i class="fa fa-sign-out" aria-hidden="true"></i>
    </button>
  </div>
</nav>
