<nav class="navbar navbar-ex navbar-dark bg p-1 m-0 ">
    <ul class="d-flex text-light list-unstyled">
      <li class="nav-item active m-auto">
        <img src="{{foto}}" alt="Foto do user"
          class="img-fluid rounded-circle">
      </li>
      <li class="nav-item">
        <p class="nav-link1 text-white"> Olá,
         {{nome}}
          <a *ngIf="authService.adm()"
          [routerLink]="['/user-edit', id]">
          <img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/000000/external-edit-web-flaticons-lineal-color-flat-icons-14.png" width="30px" height="30px"/>
          </a>
        </p>
        <p class="nav-link2 text-white">Status
          <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-circle-fill"
            viewBox="0 0 16 16" id="on">
            <circle cx="8" cy="8" r="8" />
          </svg>
        </p>
      </li>
    </ul>

    <button (click)="sair()" class="navbar-toggler text-white" type="button">Sair
      <i class="fa fa-sign-out" aria-hidden="true"></i>
    </button>
</nav>
