<div class="container-fluid">
  <div class="row">
    <div class="col md-12 text-center">
      <h1>Atualizar Postagem</h1>
    </div>
  </div>
  <div class="row m-auto" style="max-width: 550px;">
    <div class="col-md-12">
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Título</label>
          <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
            placeholder="Digite um título">
        </div>
        <div class="form-group">
          <label for="tipo">Adicione uma imagem</label>
          <input [(ngModel)]='postagem.foto' type="text" id="tipo" class="form-control" placeholder="Link de uma imagem">
        </div>
        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea for="titulo" [(ngModel)]='postagem.texto' type="text" class="form-control" name="texto" rows="3"
            id="texto" placeholder="O que tens em mente?"></textarea>
        </div>
        <div class="form-group">
          <label for="texto">Escolha o tema ou <a data-dismiss="modal" routerLink="/tema" class="cadTema">cadastre um
              novo</a></label>
          <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema'>
            <option *ngFor="let temas of listaTemas" value="{{temas.id}}">
              {{temas.categoria}}
            </option>
          </select>
        </div>

        <div class="d-flex justify-content-center m-auto">
          <button class="btn" routerLink="/inicio">Cancelar</button>
          <button class="btn mr-4" (click)='atualizar()'>Atualizar</button>
        </div>
      </div>

    </div>
  </div>
</div>
