<div class="justify-content-center" id="page">
  <img class="m-auto d-flex mt-4" src="https://i.imgur.com/YxVNsnM.png" width="140" height="140">
  <div class="m-auto cont mt-4">
    <h2 class="text-center text-light">Entrar</h2>
    <div class="form-group">
      <label for="usuario" class="text-white mb-2">Usuário</label>
      <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuário">
      <label for="senha" class="text-white mb-2">Senha</label>
      <input class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
      <button class="btn btn-dark d-flex m-auto mt-4" type="submit" id="btn-entrar">Entrar</button>
    </div>
    <hr class="mb-4 mt-5">
    <p class="text-center" id="cont-tem">Não tem uma conta? <a href="#" id="cadast">Cadastre-se</a></p>
  </div>
</div>
