.cont{
  background-image: url('https://i.imgur.com/f3Um1CV.jpg');
  box-shadow: 1px 20px 30px 10px rgb(10, 1, 29), 1px 15px 60px 10px rgb(0, 2, 109);
  background-size: cover;
  max-width: 500px;
  min-width: 100px;
  padding: 20px 70px 20px 70px;
  border-radius: 10px 10px 0 0;
}

#btn-entrar{
  width: 100%;
  min-height: 30px;
  justify-content: center;
}
#btn-entrar{
  border-color: rgb(255, 255, 255);
  background-color: rgba(81, 164, 236, 0.192);
  box-shadow: 1px 10px 20px #000;
  margin-top: -4px;
}
#btn-entrar:hover{
  border-color: rgb(218, 214, 214);
  background-color: rgba(159, 200, 236, 0.103);
  box-shadow: 1px 10px 10px #000;
  margin-top: -2px;
}
#btn-entrar:active{
  border-color: rgb(65, 62, 62);
  background-color: rgba(2, 11, 19, 0.103);
  box-shadow: inset 1px 10px 20px #000;
  margin-top: -2px;
}
#senha:active{
  border: 2px solid rgb(0, 0, 0);

}

hr{
  color: rgb(255, 255, 255);
}
#cont-tem{
  color: #fff;
}
#cadast{
  text-decoration: none;
}

